<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}
{% load pool_utils %}

{% block grappeheader %}
{% include 'grappe_ui/base/_grappeheader.html' %}
{% endblock %}

{% block sidemenu %}
{% include 'grappe_ui/base/_sidemenu.html' %}
{% endblock %}

{% block content %}
<div class="main">

	{% introduce_pool %}

    <hr>

    <div class="row pools">

        <div class="pool">

        <h3>Les objets <a href="{% url module_name|add:':create_object' grappe.slug object.slug %}"><i class="fas fa-plus-square"></i></a></h3>
        <ul>
            {% for obj in objects %}
            <li><a href="{% url module_name|add:':object_details' grappe.slug object.slug obj.slug %}">{{obj.name}}</a>
                <a href="{% url module_name|add:':update_object' grappe.slug object.slug obj.slug %}"><i class="fas fa-edit"></i></a>
                <a href="{% url module_name|add:':delete_object' grappe.slug object.slug obj.slug %}"><i class="fas fa-trash"></i></a>
            </li>
            {% endfor %}
        </ul>

        <h3>Utilisation des objets <a href="{% url module_name|add:':create_usage' grappe.slug object.slug %}"><i class="fas fa-plus-square"></i></a></h3>
        <ul>
            {% for usage in usages %}
            <li>{{usage.date}} : {{usage}}
            <a href="{% url module_name|add:':update_usage' grappe.slug object.slug usage.pk %}"><i class="fas fa-edit"></i></a>
            <a href="{% url module_name|add:':delete_usage' grappe.slug object.slug usage.pk %}"><i class="fas fa-trash"></i></a>
            </li>
            {% endfor %}
        </ul>

        <h3>Résumé des utilisations</h3>
        <ul>
            {% for count in counts %}
            <li>{{count.resource}} :
                <ul> {% for usage in count.usages %}
                    {% if usage.count != 0 %}
                    <li> {{usage.user}} : {{usage.count}} </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>

        </div>

        <div class="pool">

            <h3>Paiements <a href="{% url module_name|add:':create_cost' grappe.slug object.slug %}"><i class="fas fa-plus-square"></i></a></h3>
            <ul>
                {% for cost in costs %}
                <li>{{cost.date}} : {{cost}}
                <a href="{% url module_name|add:':update_cost' grappe.slug object.slug cost.pk %}"><i class="fas fa-edit"></i></a>
                <a href="{% url module_name|add:':delete_cost' grappe.slug object.slug cost.pk %}"><i class="fas fa-trash"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>

    {% endblock %}
</div>
