<!--
This file is part of the Grappe project.
Copyright (C) 2020 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<div class="sidebar-wrapper">
  <ul class="nav">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'accounts' grappe.slug %}">
        <i class="fas fa-balance-scale"></i>
        <p>Balance</p>
      </a>
    </li>
  </ul>
</div>
