<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <link rel="icon" type="image/png" sizes="32x32" href="{%  static 'grappe_ui/favicon.png' %}">
    <title>Grappe</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'grappe_ui/assets/jquery-3.4.1.slim.min.js' %}"></script>
    <script src="{% static 'grappe_ui/assets/popper.min.js' %}"></script>
    <script src="{% static 'grappe_ui/assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'grappe_ui/assets/footable/js/footable.min.js' %}"> </script>
    <script src="{% static 'grappe_ui/js/script.js' %}"> </script>

    <!--     Fonts and icons     -->
    <link rel="stylesheet" href="{% static 'grappe_ui/css/all-fa.min.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'grappe_ui/assets/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'grappe_ui/assets/footable/css/footable.bootstrap.min.css' %}">

    <!-- Grappe css -->
    <link  rel="stylesheet" type="text/css" href="{% static 'grappe_ui/material-dashboard.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'grappe_ui/style.css' %}">

    <!-- FIXME : how not to hard write these includes ?? -->
    <link rel="stylesheet" type="text/css" href="{% static 'grappe_full_share/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'grappe_tools_library/style.css' %}">

</head>

<body class="">
<div class="wrapper ">

    <div class="main-panel">

        <nav class="navbar navbar-expand-lg fixed-top ">
            <div class="container-fluid">

                <div class="logo">
                    <a href="/" class="simple-text logo-normal">
                        <img src="{% static 'grappe_ui/grappe_logo.png' %}" alt="Grappe" style="height:60px;">
                    </a>
                </div>

                {% if grappe.slug %}
                <ul class="navbar-nav">
                    <li class="nav-item dropdown" id="grappeDropDown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdownMenuLink1" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <h1>{{grappe.name}}</h1>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                            {% for g in grappes %}
                            <a class="dropdown-item" href="{% url 'grappe_activity' g.slug %}">{{ g.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                </ul>
                {% endif %}

                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">

                    <ul class="navbar-nav">
                        <li class="nav-item  dropdown">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                                <ul class="navbar-nav">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="fas fa-user"></i>
                                            {{ user.username }}
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                            <a class="dropdown-item" href="{% url 'profile' %}">Mon profil</a>
                                            <a class="dropdown-item" href="{% url 'logout' %}">Déconnecter</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
        <!--End Navbar -->

        {% if grappe.slug %}
        <div class="sidebar" data-color="white" data-background-color="black" data-image="">
            <div class="sidebar-wrapper">


                <ul class="nav">

                    <li class="nav-item {% if request.resolver_match.url_name == 'grappe_activity' %}current{% endif %}">
                        <a class="nav-link" href="{% url 'grappe_activity' grappe.slug %}">
                            <i class="fas fa-list"></i>
                            <p>Fil d'actu</p>
                        </a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == 'accounts' %}current{% endif %}">
                        <a class="nav-link" href="{% url 'accounts' grappe.slug %}">
                            <i class="fas fa-balance-scale"></i>
                            <p>Balance</p>
                        </a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'shares' %}current{% endif %}">
                        <a class="nav-link" href="{% url 'shares' grappe.slug %}">
                            <i class="fas fa-handshake"></i>
                            <p>Echanges</p>
                        </a>
                    </li>

                    <li class="nav-item {% if request.resolver_match.url_name == 'pools' %}current{% endif %}">
                        <a class="nav-link" href="{% url 'pools' grappe.slug %}">
                            <i class="fas fa-object-group"></i>
                            <p>Communs</p>
                        </a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'ideas' %}current{% endif %}">
                        <a class="nav-link" href="{% url 'ideas' grappe.slug %}">
                            <i class="fas fa-hand-holding-heart"></i>
                            <p>Propositions</p>
                        </a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'grappe_history' %}current{% endif %}">
                        <a class="nav-link" href="{% url 'grappe_history' grappe.slug %}">
                            <i class="fas fa-history"></i>
                            <p>Historique</p>
                        </a>
                    </li>
                    <li class="nav-item {% if request.resolver_match.url_name == 'config_grappe' %}current{% endif %}">
                        <a class="nav-link" href="{% url 'config_grappe' grappe.slug %}">
                            <i class="fas fa-cogs"></i>
                            <p>Configuration</p>
                        </a>
                    </li>

                </ul>

                <div id=footer class="d-flex flex-row position-absolute bottom">
                    <a href="{% url 'license' %}" title="Licence" target="_blank" class="p-1">
                        <i class="fas fa-file-signature"></i>
                    </a>
                    <a href="https://framagit.org/Grappe/grappe/" title="GIT" target="_blank" class="p-1">
                        <i class="fas fa-code-branch"></i>
                    </a>
                    <a href="{% url 'legal' %}" title="Mentions légales" target="_blank" class="p-1">
                        <i class="fas fa-file-contract"></i>
                    </a>
                    <a href="{% url 'cookies' %}" title="Cookies" target="_blank" class="p-1">
                        <i class="fas fa-cookie-bite"></i>
                    </a>
                    <a href="https://grappe.flarum.cloud/" title="Forum" target="_blank" class="p-1">
                        <i class="fas fa-comments"></i>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="content {% if not grappe.slug %} no-sidebar {% endif %}">
            <div class="container-fluid">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
