<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}
{% load pool_utils %}
{% load static %}

{% block grappeheader %}
{% include 'grappe_ui/base/_grappeheader.html' %}
{% endblock %}

{% block sidemenu %}
{% include 'grappe_ui/base/_sidemenu.html' %}
{% endblock %}

{% block content %}
<div class="main">

    {% if admin_view %}
	    {% introduce_pool display_buttons=True %}
    {% else %}
        {% introduce_pool display_buttons=False %}
    {% endif %}

    <hr>

    <h3>Outils {% if admin_view %}<a href="{% url module_name|add:':create_resource' grappe.slug object.slug %}"><i class="fas fa-plus-square"></i></a>{% endif %}</h3>
    <div class="row">
                {% for resource in resources.all %}
                <div class="resource">
                    <div>
                        <a href="{% url module_name|add:':resource_details' grappe.slug object.slug resource.slug %}">
                            <img border="0" src="{%if resource.photo %} {{ resource.photo.url }} {% else %} {% static 'grappe_ui/user.jpeg' %} {% endif %}" height="80">
                        </a>
                    </div>
                    <div><a href="{% url module_name|add:':resource_details' grappe.slug object.slug resource.slug %}">{{ resource }}</a></div>
                    <div>
                        {% if admin_view %}
                        <a href="{% url module_name|add:':update_resource' grappe.slug object.slug resource.slug %}"><i class="fas fa-edit"></i></a>
                        <a href="{% url module_name|add:':delete_resource' grappe.slug object.slug resource.slug %}"><i class="fas fa-trash"></i></a>
                        <a href="{% url module_name|add:':borrow_resource' grappe.slug object.slug resource.slug %}"><i class="far fa-hand-paper"></i></a>
                        {% endif %}
                    </div>

                </div>
                {% endfor %}
            </div>
</div>
{% endblock %}



