<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}
{% load pool_utils %}

{% block grappeheader %}
{% include 'grappe_ui/base/_grappeheader.html' %}
{% endblock %}

{% block sidemenu %}
{% include 'grappe_ui/base/_sidemenu.html' %}
{% endblock %}

{% block content %}
<div class="main">

    <h1>{{object.name}}</h1>
    <p>{%if object.photo %}<img class="resource_photo" border="0" src="{{ object.photo.url }}">{% endif %}</p>

    <label>Description</label>
    <p>{{object.description}}</p>

    <label>Coût de remplacement</label>
    <p>{{object.replacement_cost}}</p>

</div>
{% endblock %}



