<!--
This file is part of the Grappe project.
Copyright (C) 2020 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}

{% block content %}
<h2>Compte de {{ account.user.username }}</h2>

<p> Argent: {{ account.money }}</p>
<p> Temps: {{ account.time }}</p>

<h2> Historique </h2>
<div class="table-responsive">
<table class="table table-striped table-hover table-sm">
  <thead class="thead-light">
  <tr>
    <th scope="col">Donneur</th>
    <th scope="col">Receveur(s)</th>
    <th scope="col">Type</th>
    <th scope="col">Montant</th>
    <th scope="col">Projet</th>
    <th scope="col">Date</th>
    <th scope="col">Description</th>
  </tr>
  </thead>
  <tbody>
  {% for s in shares %}
  <tr>
    <td>{{ s.from_member }}</td>
    <td>{% for m in s.to_members.all %} {{ m.username }} {% endfor %} 
    <td>{{ s.time }}</td>
    <td>{{ s.money }}</td>
    <td>{{ s.area }}</td>
    <td>{{ s.date }}</td>
    <td>{{ s.description }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock %}
