<!--
This file is part of the Grappe project.
Copyright (C) 2020 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}

{% block content %}
<div class="main">
    <h2>Comptes</h2>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col"><i class="fas fa-user"></i> Membre</th>
            <th scope="col"><i class="far fa-clock"></i> Temps (en {{grappe.time_unit}})</th>
            <th scope="col"><i class="fas fa-euro-sign"></i> Argent (en {{grappe.money_unit}})</th>
        </tr>
        </thead>
        <tbody>
        {% for a in accounts %}
        <tr>
            <td>{{ a.user.username }}</td>
            <td>{{ a.time|floatformat:2 }}</td>
            <td>{{ a.money|floatformat:2 }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
</div>

{% endblock %}