<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}

{% block content %}

<div class="main">
    <h2>Derniers évènements</h2>
    <div class="last-events">
        <ul class="list-comments">
            {% for activity in activities %}
            <li class="comment">
                <div class="comment-infos">
                    <div class="comment-user-picture">{{activity.user_picture}}</div>
                    <div class="comment-user">{{activity.user_name}}</div>
                    <div class="comment-date">{{activity.date}}</div>

                </div>
                <div class="comment-label">
                    {{activity.label}} {% if activity.module_name != '' %}
                    dans le commun <a href="{% url activity.module_name|add:':pool_details' grappe.slug activity.pool.slug %}">{{activity.pool.name}} <i class="fas fa-object-group"></i></a>
                    {% endif %} :
                </div>

                <div class="comment-detail">
                    {{activity.description}}

                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
