<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}
{% load static %}

{% block content %}
<div class="main">
    <h2>
        <img src="{%if object.logo %}{{ object.logo.url }} {% else %} {% static 'grappe_ui/grappe.png' %} {% endif %}" height="80" alt="The logo of the grappe">
        {{object.name}}
        <a href="{% url 'update_grappe' object.slug %}"><i class="fas fa-edit"></i></a>
        <a href="{% url 'delete_grappe' object.slug %}"><i class="fas fa-trash"></i></a>
    </h2>



    <div class="list-user">
        <label>Membres :</label>
        <div class="row">
            {% for member in object.members.all %}
            <div class="user">
                <img src="{% static 'grappe_ui/user.jpeg' %}" alt="{{ member }}" style="height:40px;">
                {{ member }}
            </div>
            {% endfor %}
        </div>

    </div>

    <label>Unité de temps</label>
    <p>{{object.time_unit}}</p>

    <label>Monnaie</label>
    <p>{{object.money_unit}}</p>

</div>
{% endblock %}
