<!--
This file is part of the Grappe project.
Copyright (C) 2020 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}

{% block content %}
<div class="main">
    <h2>Mon historique</h2>
  <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
      <thead class="thead-light">
      <tr>
        <th scope="col"><i class="far fa-calendar-alt"></i> Date</th>
        <th scope="col"><i class="fas fa-file-alt"></i> Description</th>
        <th scope="col"><i class="fas fa-user"></i> De</th>
        <th scope="col"><i class="fas fa-users"></i> À</th>
        <th scope="col"><i class="far fa-clock"></i> en {{grappe.time_unit}}</th>
        <th scope="col"><i class="fas fa-euro-sign"></i> en {{grappe.money_unit}}</th>
        <th scope="col"><i class="fas fa-tag"></i> Etiquette</th>
        <th scope="col"><i class="far fa-clock"></i> / <i class="fas fa-user"></i></th>
        <th scope="col"><i class="fas fa-euro-sign"></i> / <i class="fas fa-user"></i></th>

      </tr>
      </thead>
      <tbody>
      {% for h in history %}
      <tr>
        <td>{{ h.share.date }}</td>
        <td>{{ h.share.description }}</td>
        <td>{{ h.share.from_member }}</td>
        <td>{% for m in h.share.to_members.all %} {{ m.username }}, {% endfor %}
        <td>{{ h.share.time|floatformat:2 }}</td>
        <td>{{ h.share.money|floatformat:2 }}</td>
        <td>{{ h.share.area }}</td>
        <td>{{ h.computed_time|floatformat:2 }}</td>
        <td>{{ h.computed_money|floatformat:2 }}</td>
      </tr>
      {% endfor %}
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="total">Total:</td>
        <td class="total">{{total_time|floatformat:2}}</td>
        <td class="total">{{total_money|floatformat:2}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
