<!--
This file is part of the Grappe project.
Copyright (C) 2020 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}

{% block content %}
{% load static %}
<div class="main">
    <h2>Les propositions <a href="{% url 'create_idea' grappe.slug %}"><i class="fas fa-plus-square"></i></a></h2>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col"><i class="fas fa-user"></i> Membre</th>
            <th scope="col"><i class="fas fa-hand-holding-heart"></i> Proposition</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for idea in ideas %}
        <tr>
            <td>{{ idea.member }}</td>
            <td>{{ idea.description }}</td>
            <td>
                <a href="{% url 'update_idea' grappe.slug idea.id %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete_idea' grappe.slug idea.id %}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

</div>
{% endblock %}
