{% load static %}

<h1>{{ pool.name }}

{% if display_buttons %}
<a href="{% url module_name|add:':update_pool' grappe.slug pool.slug %}"><i class="fas fa-edit"></i></a>
<a href="{% url module_name|add:':delete_pool' grappe.slug pool.slug %}"><i class="fas fa-trash"></i></a>
{% endif %}

</h1>

<div class="introduce_pool_body">
    <label>Type :</label>
    <p>{{ type }}</p>

    <label>Charte :</label>
    <p>{{ pool.description|linebreaksbr }}</p>

    <div class="list-user">
        <label>Participants :</label>
        <div class="row">
            {% for member in pool.members.all %}
            <div class="user">
                <img src="{% static 'grappe_ui/user.jpeg' %}" alt="{{ member }}" style="height:40px;">
                {{ member }}
            </div>
            {% endfor %}
        </div>

    </div>
</div>