<!--
This file is part of the Grappe project.
Copyright (C) 2020 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

<!--{% extends 'grappe_ui/base/base.html' %}

{% block content %}
<h2>Issues</h2>
<div class="table-responsive">
<table class="table table-striped table-hover table-sm">
  <thead class="thead-light">
  <tr>
    <th scope="col">Nom</th>
    <th scope="col">Issuer</th>
    <th scope="col">Pool</th>
    <th scope="col">Resource</th>
    <th scope="col">Montant (€)</th>
    <th scope="col">Montant (T)</th>
    <th scope="col">Actions</th>

  </tr>
  </thead>
  <tbody>
  {% for issue in issues %}
  <tr>
    <td>{{ issue.name }}</td>
    <td>{{ issue.issuer.username }}</td>
    <td>{{ issue.pool.name }}</td>
    <td>{{ issue.resource.name }}</td>
    <td>{{ issue.money }}</td>
    <td>{{ issue.time }}</td>
    <td>
      <form class="button" action="/grappes/{{grappe.slug}}/issues/solve/{{issue.slug}}" method="post">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Résoudre">
      </form>
      <form class="button" action="/grappes/{{grappe.slug}}/issues/edit/{{issue.slug}}" method="get">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Modifier">
      </form>
      <form class="button" action="/grappes/{{grappe.slug}}/issues/delete/{{issue.slug}}" method="get">
        {% csrf_token %}
        <input class="btn btn-primary" type="submit" value="Supprimer">
      </form>
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
-->