<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}

{% block content %}
{% load static %}
{% load template_functions %}

<div class="main">
    <h2>Communs

        <div class="dropdown">
            <button type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-plus-square"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for pool in pools %}
                <a class="dropdown-item" href="{% url pool.pool_module|add:':create_pool' grappe.slug %}">{{ pool.pool_info.model_class.verbose_name }}</a>
<!--                <li class="dropdown-item">-->
<!--                    <a href="{% url pool.pool_module|add:':create_pool' grappe.slug %}">{{ pool.pool_info.model_class.verbose_name }}</a>-->
<!--                    <a href="/"><i class="fas fa-question-circle"></i></a>-->
<!--                </li>-->
                {% endfor %}
            </div>
        </div>
    </h2>



    <div class="row">

    {% for pool in pools %}
    {% for pool_instance, resources in pool.instances_with_resources.items %}
    <div class="grappe" style="text-align: left">
        <h3><a href="{% url pool.pool_module|add:':pool_details' grappe.slug pool_instance.slug %}">{{ pool_instance.name }}</a>
        </h3>
        <h5>Type: {{ pool.pool_info.model_class.verbose_name }}</h5>
            <ul>
                {% for resource in resources %}
                <li>{{ resource.name }}</li>
                {% endfor %}
            </ul>
    </div>
    {% endfor %}
    {% endfor %}
    </div>
</div>

{% endblock %}