<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}

{% block content %}
{% load static %}
{% load template_functions %}
<div class="main">
    <h2>Echanges <a href="{% url 'create_share' grappe.slug %}"><i class="fas fa-plus-square"></i></a></h2>
    <div class="table-responsive">
    <table class="table table-striped table-hover table-sm">
        <thead class="thead-light">
        <tr>
            <th scope="col" class="col-date"><i class="far fa-calendar-alt"></i> Date</th>
            <th scope="col" class="col-desc"><i class="fas fa-file-alt"></i> Description</th>
            <th scope="col" class="col-user"><i class="fas fa-user"></i> De</th>
            <th scope="col" class="col-receivers"><i class="fas fa-users"></i> À</th>
            <th scope="col" class="col-time"><i class="far fa-clock"></i> en {{grappe.time_unit}}</th>
            <th scope="col" class="col-money"><i class="fas fa-euro-sign"></i> en {{grappe.money_unit}}</th>
            <th scope="col" class="col-tag"><i class="fas fa-tag"></i> Étiquette</th>
            <th scope="col" class="col-actions"></th>
        </tr>
        </thead>
        <tbody>

        {% for s in shares %}
        {% if s|get_class == 'Issue' %}
        <tr>
            <td>{{ s.date }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s|get_from_member }}</td>
            <td>{{ s|get_to_members }}</td>
            <td>{{ s|get_time_sum|floatformat:2 }}</td>
            <td>{{ s|get_money_sum|floatformat:2 }}</td>
            <td></td>
            <td>
                <span class="expand" onclick="expanded( '{{ s.id }}' )" ><i class="far fa-caret-square-down"></i></span>
                <a href="{% url s.module_name|add:':pool_details' grappe.slug s.pool.slug %}"><i class="fas fa-object-group"></i></a>
            </td>
        </tr>

        {% for ss in s.shares.all %}
        <tr style="background-color:#C0C0C0" class="{{ s.id }} hide">
            <td>{{ ss.date }}</td>
            <td>{{ ss.description }}</td>
            <td>{{ ss.from_member }}</td>
            <td>{% for m in ss.to_members.all %} {{ m.username }} {% if not forloop.last %}, {% endif %}{% endfor %}</td>
            <td>{{ ss.time|floatformat:2 }}</td>
            <td>{{ ss.money|floatformat:2 }}</td>
            <td>{{ ss.area }}</td>
            <td></td>
        </tr>
        {% endfor %}

        {% else %}
        <tr>
            <td>{{ s.date }}</td>
            <td>{{ s.description }}</td>
            <td>{{ s.from_member }}</td>
            <td>{% for m in s.to_members.all %} {{ m.username }} {% if not forloop.last %}, {% endif %}{% endfor %}</td>
            <td>{{ s.time|floatformat:2 }}</td>
            <td>{{ s.money|floatformat:2 }}</td>
            <td>{{ s.area }}</td>
            <td>
                <a href="{% url 'update_share' grappe.slug s.id %}"><i class="fas fa-edit"></i></a>
                <a href="{% url 'delete_share' grappe.slug s.id %}"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    </div>
</div>
{% endblock %}
