<!--
This file is part of the Grappe project.
Copyright (C) 2020 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}

{% load static %}
{% block content %}
<div class="main">
    <h2>
        <img src="{%if object.avatar %}{{ object.avatar.url }} {% else %} {% static 'grappe_ui/user.jpeg' %}{% endif %}" height="80" alt="The avatar of the user">
        {{object.user.username}}
        <a href="{% url 'update_profile' %}"><i class="fas fa-edit"></i></a>
    </h2>

    <p>{{object.presentation}}</p>
</div>
{% endblock %}