<!--
This file is part of the Grappe project.
Copyright (C) 2020 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}
{% load static %}
{% block content %}

<div class="main">
    <h2>Mes grappes <a href="{% url 'create_grappe' %}"><i class="fas fa-plus-square"></i></a></h2>

    <div class="row">
        {% for grappe in grappes %}
        <div class="grappe">
            <div>
                <img border="0" src="{%if grappe.grappe.logo %} {{ grappe.grappe.logo.url }} {% else %} {% static 'grappe_ui/grappe.png' %} {% endif %}" height="80">
            </div>
            <h3>
                <a href="{% url 'grappe_activity' grappe.grappe.slug %}">{{grappe.grappe.name}}</a>
            </h3>
            <div>
                <label><i class="fas fa-clock"></i></label>
                <input type="range" id="temps-{{grappe.grappe.slug}}" data-color="{{grappe.time_color}}"
                       min="{{grappe.time_min|floatformat:'0' }}" max="{{grappe.time_max|floatformat:'0'}}" value="{{grappe.time|floatformat:'0'}}"
                       step="1" disabled title="{{grappe.time|floatformat:2}}" style="color:{{grappe.time_color}};">
            </div>

            <label><i class="fas fa-euro-sign"></i></label>
            <input type="range" id="argent-{{grappe.grappe.slug}}" data-color="{{grappe.money_color}}"
                   min="{{grappe.money_min|floatformat:'0'}}" max="{{grappe.money_max|floatformat:'0'}}" value="{{grappe.money|floatformat:'0'}}"
                   step="1" disabled title="{{grappe.money|floatformat:2}}" style="color:{{grappe.money_color}};">


            <div>
                <a href="{% url 'accounts' grappe.grappe.slug %}" title="Balance"><i class="fas fa-balance-scale"></i></a>
                <a href="{% url 'shares' grappe.grappe.slug %}" title="Echanges"><i class="fas fa-handshake"></i></a>
                <a href="{% url 'pools' grappe.grappe.slug %}" title="Pools"><i class="fas fa-object-group"></i></a>
                <a href="{% url 'ideas' grappe.grappe.slug %}" title="Envies"><i class="fas fa-hand-holding-heart"></i></a>
                <a href="{% url 'config_grappe' grappe.grappe.slug %}" title="Config"><i class="fas fa-cogs"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}
