<!--
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->

{% extends 'grappe_ui/base/base.html' %}
{% load pool_utils %}

{% block grappeheader %}
{% include 'grappe_ui/base/_grappeheader.html' %}
{% endblock %}

{% block sidemenu %}
{% include 'grappe_ui/base/_sidemenu.html' %}
{% endblock %}

{% block content %}
<div class="main">

	{% introduce_pool %}

    <hr>

    <div class="row pools">

        <div class="pool">


            <h3> Solde de la cagnotte : {{account.balance}} {{grappe.money_unit}}</h3>
            <p>Contribution de chaque membre:</p>
            <ul>
                {% for u in account.users %}
                <li>{{u.user.username}} : {{u.balance}} {{grappe.money_unit}}</li>
                {% endfor %}
            </ul>

            <h3>Ressources <a href="{% url module_name|add:':create_resource' grappe.slug object.slug %}"><i class="fas fa-plus-square"></i></a></h3>
            <ul>
                {% for resource in resources.all %}
                <li>
                    <a href="{% url module_name|add:':resource_details' grappe.slug object.slug resource.slug %}">{{resource}}</a>
                    <a href="{% url module_name|add:':update_resource' grappe.slug object.slug resource.slug %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url module_name|add:':delete_resource' grappe.slug object.slug resource.slug %}"><i class="fas fa-trash"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="pool">

            <h3>Paiements <a href="{% url module_name|add:':create_pay' grappe.slug object.slug %}"><i class="fas fa-plus-square"></i></a></h3>
            <ul>
                {% for pay in pays.all %}
                <li>
                    {{pay}}
                    <a href="{% url module_name|add:':update_pay' grappe.slug object.slug pay.id %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url module_name|add:':delete_pay' grappe.slug object.slug pay.id %}"><i class="fas fa-trash"></i></a>
                </li>
                {% endfor %}
            </ul>


            <h3>Utilisations des ressources <a href="{% url module_name|add:':create_usage' grappe.slug object.slug %}"><i class="fas fa-plus-square"></i></a></h3>
            <ul>
                {% for usage in usages.all %}
                <li>
                    {{usage}}
                    <a href="{% url module_name|add:':update_usage' grappe.slug object.slug usage.id %}"><i class="fas fa-edit"></i></a>
                    <a href="{% url module_name|add:':delete_usage' grappe.slug object.slug usage.id %}"><i class="fas fa-trash"></i></a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}



