<!--
Grappe
Copyright (C) 2020 Christophe Lucarz

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<head>
  {% load static %}
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <title>Grappe</title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" href="{% static 'grappe_ui/css/all-fa.min.css' %}">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'grappe_ui/assets/footable/css/footable.bootstrap.min.css' %}">

  <!-- Grappe css -->
  <link  rel="stylesheet" type="text/css" href="{% static 'grappe_ui/material-dashboard.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'grappe_ui/style.css' %}">


</head>

<div class="login-page">
  <div class="login-form">
    <img src="{% static 'grappe_ui/grappe_logo.png' %}" alt="Grappe" style="height:100px;">
    <h1>Se connecter</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="cta" type="submit">OK</button>
    </form>

    Si vous n'avez pas encore de compte, <a href="{% url 'signup' %}">créez un compte</a>.
  </div>
</div>