/*
This file is part of the Grappe project.
Copyright (C) 2020-2021 Authors

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License.txt as
published by the Free Software Foundation, version 3 of the
License.txt any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License.txt for more details.

You should have received a copy of the GNU Affero General Public License.txt
along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

.wrapper {
  background-color: #191919;
  color: #eee;
}

.navbar {
  color: #eee;
  background-color: #191919 !important;
  position: fixed;
}

.nav .nav-item.current {
  background: #EEE;
}

.sidebar[data-background-color="black"] .nav .nav-item.current .nav-link,
.sidebar[data-background-color="black"] .nav .nav-item.current i {
  color: #191919;
}

.main-panel {
  width: 100%;
}

.sidebar {
  top: 80px;
}

.sidebar .sidebar-wrapper {
  padding-bottom: 0;
  position: fixed;
}

.main-panel > .content {
  position: absolute;
  left: 260px;
  background: #eee;
  border-radius: 10px 0 0;
  color: #191919;
  width: calc(100% - 260px);
  min-height: calc(100vh - 70px);
}

.main-panel > .content.no-sidebar {
  left: 0;
  width: 100%;
  border-radius: 0;
}

.logo {
  width: 246px;
  margin-left: 10px;
}

li#grappeDropDown{
  padding-left:30px;
  padding-right:60px;
}

#navbarNavDropdown .dropdown-menu {
  right: 0;
  left: auto;
}

.main {
  width: 100%;
}

.actions a {
  font-size: 30px;
}

.dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active, .dropdown-menu a:focus, .dropdown-menu a:hover {
  background-color: #D70077;
}

h2 .dropdown {
  display: inline;
}

h2 .dropdown button {
  background: none;
  border: none;
  color: #D70077;
}

a, a:focus {
  color: #D70077;
}

a:hover {
  color: #eee;
}

.main-panel > .content a:hover {
  color: #191919;
}

.table .thead-light th{
  background-color: #D70077;
  color: #eee;
}

.grappe {
  width: 21%;
  margin: 10px 2%;
  padding: 20px 2%;
  text-align: center;
  border: 1px solid #191919;
  border-radius: 15px;
  background: #FFFFFF;
}

.grappe .fa, .grappe .fas {
  font-size: 1.5rem;
  margin: 2%;
}

.grappe label .fas {
  margin-right: 10px;
  width: 30px;
}

label {
  color: #696969;
}

#navbarDropdownMenuLink1 {
  display: ruby;
  font-size: 20px;
}

h1 {
  font-size: 1.5rem;
  text-transform: none;
  margin: 0;
}

li#grappeDropDown {
  margin-left: -40px;
}

.introduce_pool_body {
  margin-top: 15px;
}

.bottom {
  bottom: 20px;
}

.content form {
  max-width: 500px;
}

select.form-control[multiple] {
  height: 200px;
}

.col-user {
  min-width: 140px;
}
.col-date {
  min-width: 150px;
}
.col-actions {
  min-width: 60px;
}

.login-page {
  background-color: #333333;
  height: 100%;
  text-align: center;
  margin: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  background-color: #fafafa;
  max-width: 500px;
  width: 100%;
  padding: 2%;
}

.login-form h1{
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
}

.login-form .cta,
form input[type="submit"]{
  background-color: #D70077;
  border: none;
  color: #FFFFFF;
  min-width: 100px;
  padding: 5px 15px;
}

.login-form a:hover {
  color: #000000;
}

.login-form .helptext {
  display: block;
  font-size: 12px;
}

.login-form ul {
  text-align: left;
  font-size: 12px;
}

.list-comments {
  list-style: none;
  list-style-position:outside;
}

.comment {
  background-color: #fafafa;
  border: 1px solid #C0C0C0;
  border-radius: 20px;
  margin: 20px;
  padding: 20px;
}

.comment-infos {
  display: flex;
  flex-direction: column;
  color: #696969;
}

.comment-label {
  display: inline;
}

.comment-detail {
  display: inline;
  font-style: italic;
}

.d-flex{
  display: flex;
}

.hide {
  display: none;
}

#footer {
 font-size: 23px;
 margin-left:40px;
}

.list-user .user {
  display: inline-block;
  margin: 5px 0%;
  padding: 2px 1%;
  text-align: center;
}

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 70%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: currentColor;
  margin-top: -8px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: none;
  border-radius: 50%;
  background: currentColor;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: none;
  border-radius: 50%;
  background: #FFFFFF;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  background: #CCCCCC;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #CCCCCC;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 2px;
  background: #CCCCCC;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 2px;
  background: #CCCCCC;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #CCCCCC;
  height: 2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #CCCCCC;
}
input[type=range]::-ms-fill-upper {
  background: #CCCCCC;
  height: 2px;
}
input[type=range]:focus::-ms-fill-upper {
  background: #CCCCCC;
}

td.total {
  font-weight: bold;
}

@media screen and (max-width: 992px) {
  .grappe {
    width: 46%;
  }
}

@media screen and (max-width: 768px) {
  .main-panel > .content {
    left: 0;
    border-radius: 0;
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .logo {
    width: auto;
    font-size: 0;
  }
  .grappe {
    width: 100%;
  }
}

ul.members-scroll {
  height: 200px;
  width: 300px;
  overflow-y: scroll;
  list-style: none;
  margin-left: -20px;
}

.errorlist li {
  color: red;
}